<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.ydnikolaev.toggledesktop</string>
	<key>category</key>
	<string>Мои</string>
	<key>connections</key>
	<dict>
		<key>0993E705-69AB-455A-AE69-27814EF118DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7D0D2DA7-5922-4CC6-881B-83B9FF66A684</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Hide all</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>21FB02A3-06FD-4535-8862-07F2C7DA84F7</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Hide only desktop</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>04D5FA3D-9BE4-4FE5-9F19-804AB07CD781</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Hide only widgets</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Yura Nikolaev</string>
	<key>description</key>
	<string>Toggles (hides or shows) your icons and/or widgets on the desktop</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle Desktop</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

desktop=$(defaults read com.apple.finder CreateDesktop)
widgets=$(defaults read com.apple.WindowManager StandardHideWidgets)

if [ $desktop = "true" ] &amp;&amp; [ $widgets = 0 ]; then
	defaults write com.apple.finder CreateDesktop false; killall Finder; 
	defaults write com.apple.WindowManager StandardHideWidgets -int 1; killall WindowManager 
else
	defaults write com.apple.finder CreateDesktop true; killall Finder
	defaults write com.apple.WindowManager StandardHideWidgets -int 0; killall WindowManager 
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7D0D2DA7-5922-4CC6-881B-83B9FF66A684</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>{var:desktop_toggle}</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Toggle Desktop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>0993E705-69AB-455A-AE69-27814EF118DD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

state=$(defaults read com.apple.finder CreateDesktop)

if [ $state = "true" ]; then
	defaults write com.apple.finder CreateDesktop false; killall Finder; 
else
	defaults write com.apple.finder CreateDesktop true; killall Finder
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>21FB02A3-06FD-4535-8862-07F2C7DA84F7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

state=$(defaults read com.apple.WindowManager StandardHideWidgets)

if [ $state = 0 ]; then
	defaults write com.apple.WindowManager StandardHideWidgets -int 1; killall WindowManager 
else
	defaults write com.apple.WindowManager StandardHideWidgets -int 0; killall WindowManager 
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>04D5FA3D-9BE4-4FE5-9F19-804AB07CD781</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow toggles (showing/hiding) icons and/or (using key modifiers) widgets on your desktop.

Useful for screencasting (and spy obviously 😆)

## Key modifiers

Use **CMD** to hide only desktop icons

Use **Option** to hide only desktop widgets

---

This workflow uses pure apple script w/o any dependecies.

Just set the trigger and go</string>
	<key>uidata</key>
	<dict>
		<key>04D5FA3D-9BE4-4FE5-9F19-804AB07CD781</key>
		<dict>
			<key>xpos</key>
			<real>485</real>
			<key>ypos</key>
			<real>375</real>
		</dict>
		<key>0993E705-69AB-455A-AE69-27814EF118DD</key>
		<dict>
			<key>xpos</key>
			<real>205</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>21FB02A3-06FD-4535-8862-07F2C7DA84F7</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>7D0D2DA7-5922-4CC6-881B-83B9FF66A684</key>
		<dict>
			<key>xpos</key>
			<real>480</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>dhide</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Define the text trigger to show/hide your desktop icons and/or widgets. Useful for screen capturing and spy :)</string>
			<key>label</key>
			<string>Text trigger</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>desktop_toggle</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/ydnikolaev</string>
</dict>
</plist>
